<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="purchaseform_table"
  class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>表單編號</th>
      <th>申請單位</th>
      <th>申請者</th>
      <th>申請日期/beginTime</th>
      <th>工項名稱</th>
      <th>速別</th>
      <th>請採期限</th>
      <th>工數</th>
      <th>明細</th>
      <th>簽核狀態</th>
      <th>comment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let datas of tableData; let i = index;">
      <td>{{datas.formTaskNo}}</td>
      <td>{{datas.department.depName}}</td>
      <td>{{datas.employee.empName}}</td>
      <td>{{datas?.beginTime?datas?.beginTime.substring(0,10):""}}</td>
      <td>{{datas.workType.workTypeName}}</td>
      <td>{{datas.emergencyType.emergencyName}}</td>
      <td>{{datas.formTaskContent.purchaseForm.purchaseDeadLine.substr(0,10)}}</td>
      <td>{{datas.formTaskContent.purchaseForm.workers}}</td>
      <td class="td-actions">
        <span *ngIf="datas.creatorId === loginUserId && datas.taskStatusId!=='2022102718360001'"
          style="cursor: pointer;" class="btn btn-default mr-2" (click)="sgo(datas, 'true')">明細</span>
        <span *ngIf="datas.taskStatusId==='2022102718360001'" style="cursor: pointer;" class="btn btn-info mr-2"
          (click)="sgo(datas, 'false')">編輯</span>
        <ng-container *ngFor="let sites of datas.taskSiteList">
          <span *ngIf="sites.current && sites.signer === loginUserId" style="cursor: pointer;" class="btn btn-info mr-2"
            (click)="sgo(datas, 'false')">簽核</span>
        </ng-container>
      </td>
      <td>{{datas.taskStatus.taskStatusName}}<br/>
        <ng-container *ngIf="datas.taskStatusId==='2022102718360004'">
          <span *ngIf="datas.taskSiteList[datas.taskSiteList.length-1].siteResultId === 'result2'"
            class="badge bg-danger"> {{datas.taskSiteList[datas.taskSiteList.length-1].resultComment}}</span>
          <span *ngIf="datas.taskSiteList[datas.taskSiteList.length-1].siteResultId === 'result1'"
            class="badge bg-secondary"> {{datas.taskSiteList[datas.taskSiteList.length-1].resultComment}}</span>
        </ng-container>
        <ng-container *ngIf="datas.taskStatusId!=='2022102718360004'">
          <span class="badge bg-secondary">{{datas.status}}</span>
        </ng-container>
      </td>
      <td>{{datas.comment1}}<br/>
        <span class="badge bg-secondary">{{datas.status1}}</span>
      </td>
    </tr>
  </tbody>
</table>
