/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');
@import url('https://translate.googleapis.com/translate_static/css/translateelement.css');

@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import '~admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';
@import '~select2/dist/css/select2.min.css';

@import '~ngx-toastr/toastr';

body {
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.content {
    padding: 0 0.5rem;
}

// Sidebar menu animation
// Needed for open/close menu animation for menus with child nodes
.nav .nav-item:not(.menu-open) > .ng-trigger-openClose,
.nav .nav-item > .ng-trigger-openClose.ng-animating {
    overflow: hidden;
    display: block;
}

// Override original AdminLTE transform
.nav-sidebar .menu-is-opening > .nav-link i.right,
.nav-sidebar .menu-is-opening > .nav-link svg.right,
.nav-sidebar .menu-open > .nav-link i.right,
.nav-sidebar .menu-open > .nav-link svg.right {
    transform: none;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.modal-backdrop.show{
  z-index: 1050 !important;
}

.card-header{
  background-color: transparent;
}

.btn.btn-default{
  background-color: #f8f9fa;
    border-color: #ddd;
}

.nav-pills .nav-link:not(.active):hover {
  background-color: rgba(255,255,255,.1);
  color: #fff;
}

.select2-container .select2-selection--single {
  height: calc(1.5em + 0.75rem + 2px);
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #17A2B8;
    border: 1px solid #17A2B8;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
      background-color: #17A2B8;
  }

 .select2-container--default .select2-search--inline .select2-search__field:focus {
   border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color:#fff;
  border-right: 1px dashed #fff;
  padding: 0px 4px 0 0px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 10px;
}
.select2-container .select2-selection--single {
  height: 32px;
}
.select2-container .select2-selection--multiple{

  padding-left: 10px;
}
.select2-search__field{
  margin-bottom: -1px;
}

.select2-container--default .select2-selection--single .select2-selection__clear{
  margin-top: -6px;
}
